/* .container {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: orange;
  justify-content: left;
  align-items: center;
  padding: 0;
} */

.maincontainer {
  list-style: none;
  display: flex;
  height: 720px;
  margin: 50px;
  position: relative;
  justify-content: center;
}
.left {
  min-height: 720px;
  min-width: 72px;
  background-color: honeydew;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.mainGallery {
  width: 1280px;
  min-height: 720px;
  background-color: grey;
}
.right {
  min-height: 720px;
  min-width: 72px;
  background-color: honeydew;
  justify-content: center;
  align-items: center;
  padding: 0;
  transform: rotate(180deg);
}


/* .secondcontainer {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: transparent;
  justify-content: left;
  align-items: center;
  padding: 0;
} */
.gallery {
  list-style: none;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: honeydew;
}


body {
  background-image: url("assets/fadeGreen.jpg");
  background-color: honeydew;
  background-size: 100%;
 }

li.gallery {
  margin: 1%;
  padding: 0.60%;
  border: 2px solid grey;
  border-radius: 5px;
  float: left;
  width: 10%;
  height: 10%;
}

/* div.gallery:hover {
  border: 2px solid yellow;
} */

li.gallery img {
  width: 100%;
  height: auto;
}

li.desc {
  padding: 0px;
  text-align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* trick */
/* The actual popup (appears on top) */
.popup .popuptext {
  border-top: 100px;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}