body {
  background-image: url("assets/fadeGreen.jpg");
  background-color: #c03d3d;
  background-size: 100%;
 }
 buttonBack {
   background: url("assets/button.svg")
 }
 buttonForward {
  background: url("assets/button.svg")
  -webkit-transform scaleX(-1);
  transform: scaleX(-1);
}
div.gallery {
  margin: 1%;
  padding: 0.60%;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
  width: 10%;
  height: 10%;
}

div.gallery:hover {
  border: 2px solid yellow;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0px;
  text-align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  border-top: 100px;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a:hover {
  background-color: yellow;
}