.maincontainer {
  list-style: none;
  display: flex;
  height: 720px;
  margin: 50px;
  position: relative;
  justify-content: center;
}
.left {
  min-height: 720px;
  min-width: 72px;
  background-color: honeydew;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.mainGallery {
  width: 1280px;
  min-height: 720px;
  background-color: honeydew;
}
.right {
  min-height: 720px;
  min-width: 72px;
  background-color: honeydew;
  justify-content: center;
  align-items: center;
  padding: 0;
  transform: rotate(180deg);
}

body {
  background-image: url("assets/greengradient.png");
  background-color: honeydew;
  background-size: 100%;
 }

 .secondarycontainer {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: inline-table;
  list-style: none;
  margin: 30px 30px;
  padding: 30px;
}

.gallery img {
  height: 72px;
  width: 128px;
  border-style: solid;
  border-color: honeydew;
  border-radius: 8px;
}

/* li.gallery:hover {
  border: 2px solid yellow;
} */

/* li.desc {
  padding: 0px;
  text-align: center;
} */

/* trick-magic */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  border-top: 100px;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}